<header>
  <nav>
    <div class="menu-container">

      <!-- Titre -->
      <div class="menu-title">
        Vocabulary
      </div>

      <!-- Select Tag -->
      <div class="menu-item">
        <select
          id="tag-select"
          (change)="onTagChangeFromEvent($event)"
          [value]="selectedTag">

          <option value="" disabled>Select a tag</option>
          <option *ngFor="let tag of tags$ | async" [value]="tag">
            {{ tag }}
          </option>

        </select>
      </div>

      <!-- Bouton LIST -->
      <a
        mat-button
        class="menu-item"
        (click)="goToList()"
        [ngStyle]="{'background-color': wordButtonColors[1]}"
        [class.active-action]="selectedAction === 'list'">
        List
      </a>

      <!-- Bouton QUIZ DEF -->
      <a
        mat-button
        class="menu-item"
        (click)="goToQuizDefinition()"
        [ngStyle]="{'background-color': wordButtonColors[1]}"
        [class.active-action]="selectedAction === 'quizDef'">
        Quizz Definition
      </a>

      <!-- Bouton QUIZ WORD -->
      <a
        mat-button
        class="menu-item"
        (click)="goToQuizWord()"
        [ngStyle]="{'background-color': wordButtonColors[1]}"
        [class.active-action]="selectedAction === 'quizWord'">
        Quizz Word
      </a>

      <!-- Levels à droite -->
     <div class="word-section">

  <a
    *ngFor="let level of levels; let i = index"
    mat-button
    class="menu-item level-btn"
    (click)="changeLevel(level)"
    [ngStyle]="{'background-color': wordButtonColors[i]}"
    [class.active-level]="selectedLevel === level">

    {{ level }}

  </a>

</div>

    </div>
  </nav>
</header>
