<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<header>
  <nav>
    <div class="menu-container">

      <!-- Titre -->
      <div class="menu-title">
        Vocabulary
      </div>

      <!-- Select Category -->
      <div class="menu-item">
        <select
          id="tag-select"
          (change)="onCategoryChangeFromEvent($event)"
          [value]="selectedCategory">

          <option value="" disabled>Select a category</option>
          <option *ngFor="let category of categories$ | async" [value]="category">
            {{ category }}
          </option>

        </select>
      </div>

      <!-- Select Tag -->
      <div class="menu-item">
        <select
          id="tag-select"
          (change)="onTagChangeFromEvent($event)"
          [value]="selectedTag">

          <option value="" disabled>Select a tag</option>
          <option *ngFor="let tag of tags$ | async" [value]="tag">
            {{ tag }}
          </option>

        </select>
      </div>

      <!-- Bouton LIST -->
      <a
        mat-button
        class="menu-item"
        (click)="goToList()"
        [ngStyle]="{'background-color': wordButtonColors[1]}"
        [class.active-action]="selectedAction === 'list'">
        List
      </a>

      <!-- Bouton QUIZ DEF -->
      <a
        mat-button
        class="menu-item"
        (click)="goToQuizDefinition()"
        [ngStyle]="{'background-color': wordButtonColors[1]}"
        [class.active-action]="selectedAction === 'quizDef'">
        Quizz Definition
      </a>

      <!-- Bouton QUIZ WORD -->
      <a
        mat-button
        class="menu-item"
        (click)="goToQuizWord()"
        [ngStyle]="{'background-color': wordButtonColors[1]}"
        [class.active-action]="selectedAction === 'quizWord'">
        Quizz Word
      </a>

      <!-- Levels à droite -->
     <div class="word-section">

  <a
    *ngFor="let level of levels; let i = index"
    mat-button
    class="menu-item level-btn"
    (click)="changeLevel(level)"
    [ngStyle]="{'background-color': wordButtonColors[i]}"
    [class.active-level]="selectedLevel === level">

    {{ level }}

  </a>

  <!-- Bouton Load -->
  <label class="upload-btn">
    <i class="fas fa-upload"></i>
    <input type="file" (change)="onFileSelected($event)" accept=".csv" />
  </label>


<!-- Popup -->
<div class="popup" [class.show]="showPopup">
  <div class="popup-content">
    <p>{{ popupMessage }}</p>
    <button (click)="closePopup()">OK</button>
  </div>
</div>
</div>

    </div>
  </nav>
</header>

