<div class="word-container">

  @for (word of words$ | async; track word.id) {

    <div class="word-card" [class.revealed]="isRevealed(word)" (click)="toggleReveal(word)">

      <div class="word-header">
        <span class="word-title">{{ word.word }} ({{word.difficulty}})</span>
      </div>

      @if (isRevealed(word)) {
        <div class="word-body">

          <p class="definition">
            <strong>Definition:</strong> {{ word.definition }}
          </p>

          @if (word.example) {
            <p class="example">
              <strong>Example:</strong> {{ word.example }}
            </p>
          }

        </div>
      }

    </div>

  }

</div>