@if (currentQuestion(); as q) {

  <div class="quiz-container">
    <!-- Mot à deviner -->
    <p class="word"><strong>{{ q.word  }} ({{ q.difficulty }})</strong></p>

    <div  class="example">
    <!-- Bouton pour révéler l'indice -->
    @if (!showHint()) {
        <button type="button" (click)="showHint.set(true)">
        Hint
        </button>
    } 
    @else {
        <p>{{ q.example }}</p>
    }
    </div>


    <!-- Choix multiples -->
    <div class="choices">
      @for (choice of q.choices; track choice) {
        <button
          type="button"
          (click)="selectAnswer(choice)"
          [class.selected]="selectedAnswer() === choice"
          [class.correct]="
            (selectedAnswer() === choice && isCorrect()) ||
            (correctAnswerToShow() === choice)
          "
          [class.incorrect]="selectedAnswer() === choice && isCorrect() === false"
        >
          {{ choice }}
        </button>
      }
    </div>

    <!-- Feedback après réponse -->
    @if (isCorrect() !== null) {
      <p class="feedback" [class.correct]="isCorrect()" [class.incorrect]="isCorrect() === false">
        {{ isCorrect() ? 'Correct!' : 'Incorrect!' }}
      </p>
    }


    <!-- Barre de progression -->
    <div class="progress-bar">
      <div class="progress" [style.width.%]="progress()"></div>
    </div>
  </div>
}
@else {
    <!-- Fin du quiz -->
      <div class="quiz-end">
        <p>Quiz finished ! Score : {{ score() }} / {{ totalQuestions }}</p>
        <button type="button" (click)="restartQuiz()">Again !</button>
      </div>
}